# General
temp
build.config

# Flash Builder
actionscript/bin
.actionScriptProperties
.flexLibProperties
.flexProperties

# Eclipse
.settings
.project

# Android
android/bin
android/gen
android/lint.xml
.classpath
proguard-project.txt
project.properties

# Xcode
xcuserdata

# OS X
Icon
Thumbs.db
.DS_Store

# Test
test/bin-debug
test/src/Main-app.xml
android/\.gradle/

android/lib/build/
